.myobp-img {
  opacity: 0;
}

#myobp-img-1 {
  position: relative;
  top: -10vh;
}
#myobp-img-2 {
  position: relative;
  top: -22vh;
}
#myobp-img-3 {
  position: relative;
  top: -36vh;
}
#myobp-img-4 {
  position: relative;
  top: -54vh;
}
#myobp-img-5 {
  position: relative;
  top: -59vh;
}

@media (min-height: 960px) {
  #myobp-img-1 {
    top: -8vh;
  }
  #myobp-img-2 {
    top: -16vh;
  }
  #myobp-img-3 {
    top: -24vh;
  }
  #myobp-img-4 {
    top: -36vh;
  }
  #myobp-img-5 {
    top: -40vh;
  }
}

@media (min-height: 1024px) {
  #myobp-img-1 {
    top: -7vh;
  }
  #myobp-img-2 {
    top: -15vh;
  }
  #myobp-img-3 {
    top: -24vh;
  }
  #myobp-img-4 {
    top: -34vh;
  }
  #myobp-img-5 {
    top: -34vh;
  }
}

@media (min-height: 1280px){
  #myobp-img-1 {
    top: -4vh;
  }
  #myobp-img-2 {
    top: -10vh;
  }
  #myobp-img-3 {
    top: -17vh;
  }
  #myobp-img-4 {
    top: -26vh;
  }
  #myobp-img-5 {
    top: -28vh;
  }
}

}
