/* UNIVERSAL */

* {
  transition: 0.5s;
  box-sizing:border-box;
}
.limit {
  max-width: 1100px;
  margin: 0 auto;
}
.container {
  max-width: 1100px;
}

/* TYPOGRAPHY */

p {
  color: #404040;
}
  p.popover-text {
    color: #a8a8a8;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 30px;
  }
  p.caption {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.70em;
    text-transform: uppercase;
    margin-bottom: 0.2em;
  }
  p.detail {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    margin-bottom: 0;
  }
  p.brand-promise {
    font-size: 16px;
    line-height: 26px;
    color: #67bc29;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
  }
h1.popover-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
}

/* NAVIGATION */

nav {
  position: absolute;
  width: 100%;
  top: 0; left: 0; right: 0;
  border-top: 30px solid #333;
  background: rgba(0,0,0,0.6);
  height: 120px;
}
  nav ul li a,
  nav ul li a:visited {
    color: #fff;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #67bc29;
    text-decoration: none;
  }
  nav ul li a.active {
    color: #67bc29;
  }
  #pull {
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 1000;
    text-decoration: none;
    color: white;
  }
  #pull:visited,
  #pull:hover {
    color: white;
  }
  #relish-logo {
    width: 20%;
    height: 20%;
    margin-left: 20px;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    position: relative;
    z-index: 10000;
  }
    #relish-logo:hover {
      border-radius: 200px;
      box-shadow: 0 0 10px rgba(0,0,0,0.9);
    }
  .navi__list {
    font-family: 'Libre Baskerville', serif;
    list-style: none;
    float: right;
    display: none;
    background: rgba(0,0,0,0.6);;
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }
  .navi__listItem {
    display: block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
  #brand-bar, #careers, #contact {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    transform: translateY(-97px);
    -webkit-transform: translateY(-97px);
    -moz-transform: translateY(-97px);
    -ms-transform: translateY(-97px);
    -o-transform: translateY(-97px);
    background-color: #fff;
    z-index: 500;
    margin-top: 15px;
  }

  .brand__item {
    width: 48%;
    height: 125px;
    padding: 40px 0;
  }
  .brand__item a {
    display: block;
    width: initial;
  }

  .brand__logo {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
  }

  .brand__row {
    display: block;
    padding: 20px 0;
  }
  .brands-wnk-logo {
    padding-top: 30px !important;
    height: auto !important;
    width: 100% !important;
  }
  .close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

    @media (max-width: 500px) {
      .brand__item {
        padding: 0;
      }
      .brand__row {
        padding: 50px 0 !important;
      }
      #pull {
        top: 30px;
      }
      .navi__list {
        top: 90px;
      }
    }
    @media (min-width: 550px) {
      #pull {display: none;}

      nav {
        height: 160px;
      }
      #relish-logo {
        max-width: 165px;
        max-width: 165px;
      }
      .navi__list {
        display:block; margin-top: 0px; height:130px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;
        width: auto; position: relative; top: 0; background-color: transparent;
      }
      .navi__listItem {
        display: inline-table;
        height: inherit;
        width: auto;
        padding: 0;
        margin-bottom: 0;
      }
      .navi__listItem a {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
      }
      #brand-bar, #careers, #contact {
        transform: translateY(-67px);
        -webkit-transform: translateY(-67px);
        -moz-transform: translateY(-67px);
        -ms-transform: translateY(-67px);
        -o-transform: translateY(-67px);
        margin-top: 20px;
      }
      .brand__row {
        padding: 0;
      }
      .brand__item {
        display: block;
        width: 100%;
      }
      .brand__logo {
        width: 100%;
        padding: 0;
      }
    }

  @media (min-width: 1000px) {
    nav {
      position: fixed;
      height: 160px;
    }
    nav .limit {
      width: 1100px;
      margin: 0 auto;
    }
    #brand-bar {
      display: none;
      position: absolute;
      width: 100%;
      height: 170px;
      transform: translateY(-52px);
      -webkit-transform: translateY(-52px);
      -moz-transform: translateY(-52px);
      -ms-transform: translateY(-52px);
      -o-transform: translateY(-52px);
      background-color: #fff;
      z-index: -1000;
    }
    .brand__logo {
        height: 100px;
        width: auto;
    }

    .brandsOn {
      cursor: pointer;
    }
  }


/* CAROUSEL */

@media ( max-width: 500px ){
  .carousel__container{
    /*margin-top: 50px;*/
  }
}

#about {
  padding-top: 30px;
  background: #545454;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
  #about h5 {
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.3em;
  }
  #about p.popover-text {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    margin-bottom: 30px;
  }
  @media (max-width: 1100px) {
    #about {
      padding: 30px 20px;
    }
  }

/* FRANCHISING FORM */
#franchisingForm input:not([type="submit"]) {
  width: 100%;
}

/* FOOTER */

footer {
  position: relative;
  width: 100%;
  background: #f9f9f9;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
  footer .limit {
    margin: 0 auto;
    padding: 20px 0 0 0;
  }

    @media (max-width: 550px) {
      footer .limit {
        padding: 20px;
      }
    }

  footer ul {
    list-style: none;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 700;
  }
  footer ul li a,
  footer ul li a:visited {
    color: #a0a0a0;
    text-decoration: none;
  }
  footer ul li a:hover {
    color: #67bc29;
  }
  footer img {
    max-width: 100%;
  }
  .footer-details {
    margin-top: 20px;
  }
    @media (min-width: 1200px) {
      footer {
        height: 200px;
      }
      footer .limit {
        width: 1100px;
      }
    }

/* COMMON ELEMENTS */

button, html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-radius: 0;
  background: #67bc29;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1em !important;
  font-weight: 400;
  float: right;
}
button:hover,
input[type="submit"]:hover {
    background: #fff;
    color: #67bc29;
    border: 1px solid #67bc29;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
    border-radius: 0;
    margin-bottom: 20px;
}
::-webkit-input-placeholder {
   color: #a8a8a8;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 30px;
}
  :-moz-placeholder { /* Firefox 18- */
     color: #a8a8a8;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 30px;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #a8a8a8;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 30px;
  }
  :-ms-input-placeholder {
     color: #a8a8a8;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 30px;
  }
    @media (max-width: 500px) {
      .popover {
        margin-top: 90px !important;
      }
    }
    @media (max-width: 1000px) {
      .popover {
        padding: 25px;
      }
    }

/* OTHERS */
.formSuccess, .formError {
  display: block;
  width: 100%;
  text-align: center;
}

.formSuccess {
  color: rgb(43, 184, 24);
}

.formError {
  color: red;
}

/* EFFECTS */

.fade {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }