/* UNIVERSAL */

.super-container {
	width: 100vw;
	overflow: hidden;
}

.bg-violet {
	background: #372b6a;
}

.push-down {
	margin-top: 5%;
}

@media (min-width: 900px) {
	.push-down {
		margin-top: 25%;
	}
}

/* TYPOGRAPHY */

@font-face {
  font-family: 'Tungsten Book';
  src: url('../fonts/Tungsten Rounded Book.otf')  format('opentype');
}

@font-face {
  font-family: 'Tungsten Bld';
  src: url('../fonts/Tungsten Rounded Bold.otf')  format('opentype');
}

a {
	text-decoration: none;
}

h1, h2 {
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	color: #fff;
	font-family: 'Tungsten Bld';
	font-size: 28px;
	letter-spacing: 2px;
}

h2 {
	color: #fff;
	font-family: 'Tungsten Book';
	font-size: 18px;
	letter-spacing: 3px;
}

	@media (min-width: 900px) {
		h1 {
			font-size: 48px;
			letter-spacing: 3px;
		}
		h2 {
			font-size: 36px;
			letter-spacing: 3px;
		}
	}

	/*.menu-right h1, .menu-left h1 {
		animation: pulsate 0.3s infinite;
		-webkit-animation: pulsate 0.3s infinite;
		-moz-animation: pulsate 0.3s infinite;
		-o-animation: pulsate 0.3s infinite;
		-ms-animation: pulsate 0.3s infinite;
	}*/

h4 {
	color: #fff;
	font-family: 'Tungsten Bld';
	font-size: 32px;
	letter-spacing: 3px;
}


.brand {
	position: fixed;
	width: 100%;
	height: 80px;
	background: #ff422e;
	z-index: 9000;
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

	.brand img {
		width: 220px;
	    height: 60px;
	    margin: 10px 0;
	    margin-left: 15px;
	}

	@media (min-width: 700px) {
		.brand img {
			margin-left: calc(50% - 110px);
		}
	}

	.letsrock {
		margin-top: 50px;
	}

	@media (min-width: 900px) {
		.letsrock {
			margin-top: -120px;
		}
	}

	.letsrock:hover {
		color: #ffda44;
	}

	.letsrock i {
		transform: translateY(10px);
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		-o-transform: translateY(10px);
		-ms-transform: translateY(10px);
	}

	.menu-item-desc {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 0.7em !important;
		line-height: 1.5em;
		display: block;
		letter-spacing: 0;
	}

	.menu-item-desc-inline {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 0.7em !important;
		line-height: 1.5em;
		display: inline-block;
		letter-spacing: 0;
	}

#mega {
	padding: 0 0 5% 0;
	background: #773575;
}

	.mega-header {
		color: #fff;
	    font-family: 'Tungsten Book';
	    font-size: 4.5em;
	    margin-right: 20px;
	    line-height: 1em;
	}

	.mega-price {
		color: #fff;
	    font-family: 'Tungsten Book';
	    font-size: 2em;
	}

	.mega-caption {
		color: #fff;
	    font-family: 'Tungsten Book';
	    font-size: 1.6em;
	    letter-spacing: 0.05em;
	}

	.above-the-fold {
		min-height: 100vh;
	}

	@media (min-width: 900px) {
		.mega-header {
			color: #fff;
		    font-family: 'Tungsten Book';
		    font-size: 8em;
		    margin-right: 20px;
		    line-height: 1em;
		}

		.mega-price {
			color: #fff;
		    font-family: 'Tungsten Book';
		    font-size: 3em;
		}

		.mega-caption {
			color: #fff;
		    font-family: 'Tungsten Book';
		    font-size: 1.6em;
		    letter-spacing: 0.05em;
		}

		.above-the-fold {
			min-height: 100vh;
		}
	}

#menu-1 li,
#menu-2 li,
#menu-3 li,
#menu-4 li,
#menu-5 li {
	color: #fff;
	font-family: 'Tungsten Book';
	font-size: 1.6em;
	list-style-type: none;
	margin-bottom: 0;
	letter-spacing: 1px;
}

li.sauce {
	margin-top: 0.8em;
}

/* NAVIGATION */

nav {
	position: absolute;
	border-top: 0;
	z-index: 20000;
	background: none;
}

	#relish-logo {
		float: right;
		max-width: 25%;
		height: 25%;
		margin-top: 30px;
		margin-right: 20px;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
		z-index: 10000;
	}

	@media (min-width: 550px) {
	    nav ul {
	      display: block;
	      padding: 0 !important;
	    }
	    #relish-logo {
	      max-width: 165px;
	      max-width: 165px;
	    }
	    #kumori-logo {
	    	height: 100px !important;
	    }
  	}


/* HERO */

#hero {
 	width: 100%;
	height: 100%;
	max-height: calc(100vh + 50px);
 	background: #372b6a;
 	padding-top: 50px;
 	overflow: hidden;
 	/*background: url(../rockseoul/images/rs-hero.jpg);
 	background-size: cover;
 	background-position: center;*/
 }

@media (min-width: 900px) {
	#hero {
	 	width: 100%;
	 	height: 100%;
	 	max-height: calc(100vh + 50px);
	 	overflow: hidden;
	 	/*background: url(../rockseoul/images/rs-hero.jpg);*/
	 }
}

	#hero img {
		width: 32%;
	}

		#hero img:nth-of-type(16),
		#hero img:nth-of-type(17),
		#hero img:nth-of-type(18) {
			display: none;
		}

	@media (min-width: 900px) {
		#hero img {
			width: 24.7%;
		}
		#hero img:nth-of-type(13),
		#hero img:nth-of-type(14),
		#hero img:nth-of-type(15),
		#hero img:nth-of-type(16),
		#hero img:nth-of-type(17),
		#hero img:nth-of-type(18) {
			display: inline-block;
		}
	}

	@media (min-width: 1100px) {
		#hero img {
			width: 16.4%;
		}
		#hero img:nth-of-type(16),
		#hero img:nth-of-type(17),
		#hero img:nth-of-type(18) {
			display: inline-block;
		}
	}

	#hero img.rotaLeft {
		 animation: rotate_left 0.5s infinite;
		-webkit-animation: rotate_left 0.5s infinite;
		-moz-animation: pulsate 0.5s infinite;
		-o-animation: rotate_left 0.5s infinite;
		-ms-animation: rotate_left 0.5s infinite;
	}

	#hero img.rotaRight {
		 animation: rotate_right 0.5s infinite;
		-webkit-animation: rotate_right 0.5s infinite;
		-moz-animation: rotate_right 0.5s infinite;
		-o-animation: rotate_right 0.5s infinite;
		-ms-animation: rotate_right 0.5s infinite;
	}

 .hero-text {
 	width: 80%;
 	position: absolute;
 	left: 10%;
 	top: 12%;
 	text-align: center;
 	text-transform: uppercase;
 }


/* MYOBP */

 #intro {
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	padding: 10% 5%;
 	box-shadow: 0 0 0 -5px rgba(0,0,0,0.4);
 	z-index: 5000;
 	background: rgba(0,0,0,0.8);
 }

 @media (min-width: 700px) {
 	#intro {
	 	padding: 60px 5%;
	 }
 }

 #myobp {
 	min-height: 100vh;
	max-height: 1200px;
 	padding: 60px 0;
 	box-shadow: 0 0 0 -5px rgba(0,0,0,0.4);
 	z-index: 20000;
 }

 	.myobp-img {
 		width: 100%;
 	}

 	@media (min-width: 700px) {
 		.myobp-img {
	 		width: 80%;
	 		margin-left: 10%;
	 	}
	 	#myobp {
 			padding: 60px 5%;
 		}
 	}

 	@media (min-width: 1200px) {
 		#myobp {
 			padding: 60px 10%;
 			min-height: 150vh;
 			max-height: 1350px;
 		}
 	}

 	@media (min-width: 1400px) {
 		#myobp {
 			min-height: 150vh;
 			max-height: 1650px;
 		}
 	}


 /* MENUS */

 #menu-1, #menu-2, #menu-3, #menu-4, #menu-5 {
 	min-height: 100vh;
 	position: relative;
 }

 #social-fb {
 	min-height: 500px;
 	position: relative;
 	background: #372b6a;
 }

 	@media (min-width: 700px) {
 		#social-fb{
 			min-height: 0;
 			height: 0;
 			background: none;
 		}
 	}

 #social-twitter {
 	width: 100%;
 	height: auto;
 	position: relative;
 	background: #333;
 	padding: 5% 10%;
 }

 #menu-1 {
 	background: #773575;
 	/*box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);*/
 }

 #menu-2 {
 	background: #b84730;
 }

 #menu-3 {
 	background: #301e5a;
 }

 #menu-4 {
 	background: #372b6a;
 }

 #menu-5 {
 	background: #372b6a;
 	min-height: 190vh;
 }

 img.menu-img {
 	position: relative;
    width: 80%;
    left: 10%;
    /*right: 0 !important;*/
    padding-top: 10%;
    /*animation: rotate_left 0.5s infinite;
	-webkit-animation: rotate_left 0.5s infinite;
	-moz-animation: pulsate 0.5s infinite;
	-o-animation: rotate_left 0.5s infinite;
	-ms-animation: rotate_left 0.5s infinite;*/
 }

 @media (min-width: 700px) {
 	img.menu-img {
	 	width: 35vw;
	 	height: auto;
	 	position: absolute;
	 	z-index: 8000;
	 	display: block;
	 	padding: 0;
	 	top: calc(50% - 17vw);
	 }
	img.menu-img.top.left.custom-bap-img {
		padding-top: 0;
		top: 0 !important;
	}
	img.menu-img.left {
 		left: -50px;
	 }

	 img.menu-img.right {
	 	right: -50px;
	 	left: inherit;
	 }
 }


.six.columns ul {
	margin-bottom: 0;
}

 .menu-right, .menu-left {
 	position: relative;
 	width: 100%;
 	min-height: 80%;
 	height: auto;
 	padding: 10% 10% 5% 5%;
 }

 @media (max-width: 700px) {
	 #menu-1 .menu-right .row .six.columns:nth-child(2n) {
	 	margin-top: 10%;
	 }
}

 @media (min-width: 700px) {
	.menu-right {
	 	position: absolute;
	 	width: 70%;
	 	min-height: 80%;
	 	height: auto;
	 	right: 0;
	 	padding-top: 15vh;
	 	padding-bottom: 0;
	 	padding-right: 0;
	 	padding-left: 5%;
	 }

	 .menu-right.custom-baps {
	 	width: 60%;
	 }

	 .menu-left {
	 	position: absolute;
	 	width: 70%;
	 	min-height: 80%;
	 	height: auto;
	 	padding: 25vh 5% 0 5%;
	 }

	 .menu-left.custom-baps {
	 	width: 40%;
	 }
 }

 @media (min-width: 1300px) {
 	#social-fb .menu-right.custom-baps {
 		margin-top: -40% !important
 	}
 }

 .menu-right .six.columns,
 .menu-left .six.columns {
 	margin-left: 0;
 }

 .menu-left .six.columns {
 	padding-right: 4%;
 }

.insta-full {
	display: none;
}

.insta-mobile {
	display: block;
}

@media (min-width: 900px) {
	.insta-full {
		display: block;
	}

	.insta-mobile {
		display: none;
	}
}


/* ANIMATIONS */
@-webkit-keyframes pulsate {
	    0% {
		    transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
		}
	    50% {
		    transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-ms-transform: scale(1.05);
			-o-transform: scale(1.05);
	    }
	    100% {
	    	transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
	    }
	}
	@-moz-keyframes pulsate {
	    0% {
		    transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
		}
	    50% {
		    transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-ms-transform: scale(1.05);
			-o-transform: scale(1.05);
	    }
	    100% {
	    	transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
	    }
	}
	@-o-keyframes pulsate {
	    0% {
		    transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
		}
	    50% {
		    transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-ms-transform: scale(1.05);
			-o-transform: scale(1.05);
	    }
	    100% {
	    	transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
	    }
	}
	@keyframes pulsate {
	    0% {
		    transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
		}
	    50% {
		    transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-ms-transform: scale(1.05);
			-o-transform: scale(1.05);
	    }
	    100% {
	    	transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
	    }
	}

/*@-webkit-keyframes rotate_left {
	    0% {
		    transform: translate(5px,5px);
			-webkit-transform: translate(5px,5px);
			-moz-transform: translate(5px,5px);
			-ms-transform: translate(5px,5px);
			-o-transform: translate(5px,5px);
	    }
		50% {
		    transform: translate(-5px,0);
			-webkit-transform: translate(-5px,0);
			-moz-transform: translate(-5px,0);
			-ms-transform: translate(-5px,0);
			-o-transform: translate(-5px,0);
	    }
	    100% {
	    	transform: translate(5px,-5px);
			-webkit-transform: translate(5px,-5px);
			-moz-transform: translate(5px,-5px);
			-ms-transform: translate(5px,-5px);
			-o-transform: translate(5px,-5px);
	    }
	}*/

	@-webkit-keyframes rotate_left {
	    0% {
		    transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
		}
	    50% {
		    transform: scale(1.1);
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-ms-transform: scale(1.1);
			-o-transform: scale(1.1);
	    }
	    100% {
	    	transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
	    }
	}

	@-webkit-keyframes rotate_right {
	    0% {
		    transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
		}
	    50% {
		    transform: scale(0.9);
			-webkit-transform: scale(0.9);
			-moz-transform: scale(0.9);
			-ms-transform: scale(0.9);
			-o-transform: scale(0.9);
	    }
	    100% {
	    	transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
	    }
	}

/*.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}*/


.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin-top: 20%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 5px rgba(0,0,10,0.7);
}

@media (min-width: 900px) {
	.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		margin-left: 10vw;
		overflow: hidden;
		max-width: 75%;
		margin-top: 0;
	}
	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 75%;
	}
}

/* BRANCHES */

#rockseoul-branches {
	width: 100%;
	height: auto;
	background: #d3d3d3;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
	.osaka-branch-row {
		width: 100%;
		min-height: 140px;
		padding-top: 25px;
		padding-right: 10%;
		padding-left: 10%;
	}


/* MAP */
.rockseoul-map {
	position: relative;
	height: 400px;
	overflow: hidden;
}

	.rockseoul-map iframe {
		position: absolute;
	    top: -50px;
		left: 0;
		width: 100% !important;
		height: 450px !important;
		pointer-events:none;
	}
